[Unit]
Description=Pi Day Display

[Service]
Type=simple
StandardOutput=journal
ExecStart="%h/epaper-pi-ex/countdown.py"
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
